

/*上方為網頁內容css*/
.web-bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: black;
}
.web-bottomtext{
    font-size: 14px;
    font-weight: bold;
    color: white;
}
/*上方為網頁底部css*/